.navigation {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

}
.navigation a {
  color: #fff;
  text-decoration: underline;
}

.navigation a:hover {
  color: #aaa;
}

@media screen and (min-width: 412px) {
  .navigation {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 524px) {
  
}