.navigation {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

}
.navigation a {
  color: #fff;
  text-decoration: underline;
}

.navigation a:hover {
  color: #aaa;
}

.review-section .prompt {
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px solid white;
  padding: 8px;
  border-radius: 8px;
  
}
.review-entry-form .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.review-list {
  color: black;
}
.review-list .main-text {
  font-size: 1.25rem;
}
.alert {
  display: flex;
}
.alert .close {
  margin-left: auto;
  color: inherit;
  border: 0 none;
  background-color: transparent;
}

@media screen and (min-width: 412px) {
  .navigation {
    flex-direction: row;
    align-items: center;
  }
}
